[submodule "libpsarc/compression/zlib"]
	path = libpsarc/compression/zlib
	url = https://github.com/MilchRatchet/zlib.git
[submodule "libpsarc/hash/md5-c"]
	path = libpsarc/hash/md5-c
	url = https://github.com/MilchRatchet/md5-c.git
